body {
    margin: 0;
    padding: 0;
    background:#f7f7f7;
    font-family:'PT Sans', sans-serif;
    height: 100%;
} 


.box2 {
      text-align:center;
      position:relative;
      top: 18px;  
      
}

.box { 

    padding: 40px;
    text-align: right;
    width:450px;
    height:auto;
    background:#fff;
    margin:110px auto; 
    box-shadow: 2px 1px 5px rgba(107, 104, 104, 0.5);
} 

/* effect 1 */

/*==================================================
 * Effect 1
 * ===============================================*/
 


.box2 select {      
    background-color: url(ico-seta-select.gif) no-repeat #d3d3d3;  /* Imagem de fundo (Seta) */      
    background-position: 205px center;  /*Posição da imagem do background*/      
    width: 170px; /* Tamanho do select, maior que o tamanho da div "div-select" */      
    height:60px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */  
    font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */  
    font-size:16px; /* Tamanho da Fonte */  
    padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */  
    color:rgb(15, 15, 15); /* Cor da Fonte */      
    text-indent: 0.01px; /* Remove seta padrão do FireFox */      
    text-overflow: "";  /* Remove seta padrão do FireFox */            
}

select::-ms-expand { display: none;
} /* Remove seta padrão do IE*/

/*---------------> SVG <----------------*/
#svg-tela { 
    height: 630px;
    width: 680px;
    
}

/* nav - bar */ 
#nav-bar{
    display: flex;
    flex-direction: row; 
    background-color: rgba(4,9,30,0.85);
    color: rgb(212, 200, 200);
    height: 60px;
    align-items: center;
    padding: 11px;
    justify-content: space-between;
    box-shadow: 1px 0.5px 4px #999;	  
}
#menu{
    list-style: none;
    display:inline-flex;
    padding: 20px;
}

#menu li{
    padding: 10px;
    font-weight: 400;
}
#menu a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-family: Poppins;
}
#menu li a:hover{
    background-color:#8ab92d;
    padding: 10px 6px 10px 6px;
    border-radius: 10px;

}   
#logo{
    cursor: pointer;

}
#select{
    border-radius: 10px;
    border: none;
    height: 50px;
    width: 73%;
    background-color: #D3D3D3;;
}
input{
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background:#D3D3D3;
    width: 66%;
 }

.btn{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    
    background:#8ab92d;   
    border-radius: 10px;
    
    cursor: pointer; 
}


footer{
    background-color: #233242;
  
  
  display: block;
  
  text-align: center;

  height: 100px;
  margin: 0px;
}

footer p{
  color: white;
  padding: 39px;
  font-size: 14px;
  font-family: Poppins;
  margin: 0px ;
}