#btn-verde{
    background-color: #8ab92d;
    color: white;
    margin-top: 20px;
    margin-left: 10px;
    
    
}
#container-certificado{

   
   
}

#table-cabecalho{
    margin-top: 30px;
    background-color: #233242;
    color: white;
    
}
table{
    margin-top: 20px;
}