<!DOCTYPE html>
    <html>
        <head>
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link href="https://fonts.googleapis.com/css?family=PT+Sans&display=swap" rel="stylesheet">
                <link rel="stylesheet" href="css/estilo.css"> 
        </head>
        <body>

                <nav id="nav-bar">
                    <img id="logo" src="css/logo.png" href="#">  
                </nav>
            <div class="box effect1">  
                 

                <form class="box2"> 
                    
                    <label for="nome_cad" class="label">Dados pessoais:</label><br>
                    <input id="nome_cad" name="nome_cad" placeholder="Nome completo:" required="required" type="text"  /> 
                    <input id="tefone_cad" name="telefone_cad" placeholder="Telefone:" required="required" type="tel"  /> 
                    <input id="email_cad" name="email_cad" placeholder="Email:" required="required" type="email"  /> 
                   
                    <div class="butoes">
                            <input  type="submit" class="btn" value="Voltar" /> 
                            <input  type="submit" class="btn" value="Criar evento" /> 
                    </div>
                    

                    
                </form> 
            </div>
        </body>
    </html>