.content {
    width: 300px;
    margin: 0px auto;
}

h1 {
    font-size: 48px;
    color: #066a75;
    padding: 2px 0 10px 0;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-align: center;
}

p {
    margin-bottom: 10px;
    font-size: 24px;
}

.content p:first-child {
    margin: 0px;
}

label {
    color: #405c60;
    position: relative;
}

input {
    outline: none;
}

input:not([type="checkbox"]) {
    width: 95%;
    margin-top: 4px;
    padding: 10px;
    border: 1px solid #b2b2b2;
}

form {
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    box-shadow: 2px 1px 5px rgba(107, 104, 104, 0.5);
    padding: 30px;
    background-color: #fff;
}

form input {
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background: #D3D3D3;
}

body {
    margin: 0;
    padding: 120px;
    font-family: 'PT Sans', sans-serif;
    background-color: #f7f7f7;
}
