body {
    margin: 0;
    padding: 0;
    background:rgb(171, 174, 175); 
} 

.box2 {
      text-align:center;
      position:relative;
      top: 18px;  
      
}

.box { 
    text-align: right;
    width:450px;
    height:300px;
    background:#f7f7f7;
    margin:150px auto; 
} 

/* effect 1 */

/*==================================================
 * Effect 1
 * ===============================================*/
 .effect1{
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
} 

.select {    
    width:250px;  /* Tamanho final do select */    
    overflow:hidden; /* Esconde o conteúdo que passar do tamanho especificado */
}  

.box2 select {      
    background-color: url(ico-seta-select.gif) no-repeat #d3d3d3;  /* Imagem de fundo (Seta) */      
    background-position: 205px center;  /*Posição da imagem do background*/      
    width: 170px; /* Tamanho do select, maior que o tamanho da div "div-select" */      
    height:60px; /* altura do select, importante para que tenha a mesma altura em todo os navegadores */  
    font-family:Arial, Helvetica, sans-serif; /* Fonte do Select */  
    font-size:16px; /* Tamanho da Fonte */  
    padding:13px 20px 13px 12px; /* Configurações de padding para posicionar o texto no campo */  
    color:rgb(15, 15, 15); /* Cor da Fonte */      
    text-indent: 0.01px; /* Remove seta padrão do FireFox */      
    text-overflow: "";  /* Remove seta padrão do FireFox */            
}

select::-ms-expand { display: none;
} /* Remove seta padrão do IE*/

 

/* nav - bar */ 
nav {
    display: flex;
    background-color: rgba(4,9,30,0.85);
    color: rgb(212, 200, 200);
    height: 60px;
    align-items: center;
    padding: 11px;
    justify-content: space-between;
    box-shadow: 1px 0.5px 4px #999;  
}

#logo{
    cursor: pointer;

}

form input{
    margin-top: 15px;
    padding: 15px;
    border-radius: 8px;
    border: none;
    background:#d3d1d1;
 }

.btn{
    font-weight: bold;
    border: none;
    width: 100px;
    padding: 10px;
    color: #fff;

    border-radius: 8px;
    background:#8ab92d;   
    cursor: pointer; 
}


